<section class="projects" id="projects">
  <div class="projects-container">

    <header class="projects-header">
      <h1>Projects</h1>
      <p class="subtitle">A collection of things I’ve built — combining engineering, data, and creativity.</p>
      <div class="divider"></div>
    </header>
   <!-- Grid of cards -->
    <div class="projects-grid">
      <div class="project-card" *ngFor="let p of projects">
        <div class="card-img"><img [src]="p.img" /></div>
        <h3>{{ p.title }}</h3>
        <p>{{ p.desc }}</p>
        <div class="card-links">
          <a [href]="p.demo">🔗 Live Demo</a>
          <a [href]="p.github">📦 GitHub</a>
        </div>
      </div>
    </div>

  </div>
</section>
